<!DOCTYPE html>
<html ng-app="tool">
  <head>
    <title>Air Canada - Dispatch</title>
    <link rel="icon" type="image/png" href="logo.png" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="css/mystyles.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <!--<script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>-->
  </head>

<!-- Header and Angularjs ref -->
  <body ng-controller="ToolController as tool">
    <div class="container">
      <div class="page-header">
        <h2><a style="color:#D8292F" href="https://www.aircanada.com/ca/en/aco/home.html"> Air Canada <i class="icon-globe"></i></a>
          <em class="pull-right"> <a style="color:#000" href="https://dispatchissuereporting.herokuapp.com/">Reporting Tool</a></em>
          <img style="width:100%; padding:10px 0px 0px 0px" src="img/ac.jpg"/>
        </h2>
      </div>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="document in documents">
            <section ng-controller="PanelController as panel" style="padding-top:10px">
              <!-- Tab implementation -->
              <ul class="nav nav-tabs nav-justified">
                <li ng-class="{ active: panel.isSelected(1) }">
                  <a href ng-click="panel.selectTab(1)">Dashboard</a>
                </li>
                <li ng-class="{ active: panel.isSelected(2) }">
                  <a href ng-click="panel.selectTab(2)">Create a Report</a>
                </li>
                <li ng-class="{ active: panel.isSelected(3) }">
                  <a href ng-click="panel.selectTab(3)">Update a Report</a>
                </li>
                <li ng-class="{ active: panel.isSelected(4) }">
                  <a href ng-click="panel.selectTab(4)">View a Report</a>
                </li>
              </ul>

            <!-- 1st tab: Dashboard -->
            <div class="panel" ng-show="panel.isSelected(1)">
              <h3>Welcome!</h3>
              <blockquote>This tool should be used to report any software issues within the flight operations department. <br><br>You can either create, update or view a report.</blockquote>
                <blockquote style="margin-top:20px"><br>
                <h4><b>Air Canada Resources</b></h4>
                  <section>
                    <a style="color:#FFF" href="https://www.aircanada.com/ca/en/aco/home/fly/onboard/fleet.html"><button class="btn btn-danger" type="button">Fleet List</button></a>
                    <a style="color:#FFF" href="https://www.aircanada.com/ca/en/aco/home/fly/flight-information/daily-travel-outlook.html"><button class="btn btn-danger" type="button">Daily Travel Outlook</button></a>
                    <a style="color:#FFF" href="https://www.aircanada.com/ca/en/aco/home/fly/flight-information/flight-status-results.html"><button class="btn btn-danger" type="button">Flight Status</button></a>
                  </section>
                </blockquote>
            </div>

            <!-- 2nd tab form -->
            <div class="panel" ng-show="panel.isSelected(2)">
              <flash:messages></flash:messages>
              <form name="createForm" ng-controller="CreateReportController as createRpt"
                                      ng-submit="createForm.$valid && createRpt.addReport(document)" novalidate>
                <div class="row">
                  <div class="span6">
                    <blockquote>
                      <h3>Create a Report</h3><br>
                      <fieldset class="form-group">Employee ID:<br>
                        <input class="span5" ng-model="createRpt.dispatcherReport.employeeID" type="string" class="form-control" placeholder="205H87R8" title="employeeID" required/>
                      </fieldset><br>
                      <fieldset class="form-group">
                        <textarea class="span5" ng-model="createRpt.dispatcherReport.issueOverview" class="form-control" placeholder="Issue Overview" title="Issue" required></textarea>
                      </fieldset><br>
                      <fieldset class="form-group">
                        <textarea class="span5" ng-model="createRpt.dispatcherReport.submissionNotes" class="form-control" placeholder="Submission Notes" title="SubmissionNotes" required></textarea>
                      </fieldset><br>
                      <fieldset class="form-group">
                        <select class="span5" ng-model="createRpt.dispatcherReport.software" class="form-control" ng-options="softwares for softwares in ['DRBN', 'FDM/FOM', 'FDX SharePoint Site', 'LIDO', 'SMART 4 Aviation', 'WSI Fusion', 'Zetron', 'Other']"  title="Software" required>
                          <option value="">Affected Software</option>
                        </select>
                      </fieldset><br>
                      <fieldset class="form-group">
                        <input type="submit" class="btn btn-large btn-inverse span5" value="Submit report" />
                      </fieldset>
                  </blockquote>
                  </div>
                  <div class="span5" style="margin-bottom: 30px">

                    <!-- 2nd tab Sample Report -->
                    <blockquote>
                      <h3><b>Report Instance</b></h3><br>
                      <section>
                        <h4>Issue: {{createRpt.dispatcherReport.issueOverview}}</h4>
                        Notes: {{createRpt.dispatcherReport.submissionNotes}} <br>
                        Affected Software: {{createRpt.dispatcherReport.software}} <br>
                        <cite>— <i>{{createRpt.dispatcherReport.employeeID}}</i> on {{createRpt.dispatcherReport.createdOn | date}}</cite>
                    </section>
                    </blockquote>
                  </div>
                </div>
              </form>
            </div>

            <!--Third tab: update -->
            <div class="panel" ng-show="panel.isSelected(3)">
              <h3>Update a Report</h3><br>
              <form name="updateForm" ng-controller="UpdateReportController as updateRpt"
                                      ng-submit="updateForm.$valid && updateRpt.UpdateReport(document)" novalidate>
              <div class="row-fluid">
                <div class="span4">
                  <div class="form-group">Report ID #:<br>
                    <input ng-model="updateRpt.dispatcherReport.reportID" class="form-control" placeholder="128793" title="Issue" integer required/>
                  </div><br>

                  <div class="form-group">
                    <select ng-model="updateRpt.dispatcherReport.status" class="form-control" ng-options="ratings for ratings in ['Unresolved', 'In Progress', 'Resolved']"  title="Status" required>
                      <option value="">Status</option>
                    </select>
                  </div><br>
                  <div class="form-group">
                    <select ng-model="updateRpt.dispatcherReport.priority" class="form-control" ng-options="ratings for ratings in ['Low', 'Medium', 'High']"  title="Priority" required>
                      <option value="">Priority Level</option>
                    </select>
                  </div><br>
                </div>
                <div class="span8">
                  <div class="form-group">
                    <textarea rows="8" ng-model="updateRpt.dispatcherReport.responderNotes" class="form-control" placeholder="Responder Notes" title="ResponderNotes"></textarea>
                  </div><br>
                </div>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-block btn-large btn-inverse span5" value="Update report" />
              </div>
            </div>
            </form>

            <!-- Fourth tab: report list -->
            <div class="panel" ng-show="panel.isSelected(4)">
              <h3>List of Reports</h3><br>
              <blockquote ng-repeat="dispatcherReport in documents.dispatcherReports">
                <h4><b>#{{dispatcherReport.ReportID}}: {{dispatcherReport.SubmissionOVerview}}</b> <em class="pull-right">{{dispatcherReport.ReportStatus}}</em></h4>
                Dispatcher Notes: {{dispatcherReport.SubmissionNotes}} <br>
                Affected Software: {{dispatcherReport.SoftwareTitle}} <br>
                Responder Notes: {{dispatcherReport.ResponderNotes}} <br>
                Priority: {{dispatcherReport.Priority}} <br>
                <cite>— <i>{{dispatcherReport.EmployeeID}}</i> on {{dispatcherReport.DateSubmitted | date}} <br><br>
                <button class="btn btn-inverse" ng-click="panel.selectTab(3)">Update #{{dispatcherReport.ReportID}}</button></cite><br><br>
              </blockquote>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
